.head
{
    color:black
}
.body
{ margin : 0 auto;
    color: blueviolet;
    margin-right: 200px;
    font-size: 20px;
    font-family:cursive;
    background-color: antiquewhite;
        
    
        
        
}